.main_contaner {
  overflow: hidden;
}

main {
  background-color: #0E0E0E;
  width: 100%;
  color: white;
}
main .present {
  margin-bottom: -100px;
}
main .present figure .imgCont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main .present figure .imgCont .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 59.38%, #0E0E0E 90%, #0E0E0E 100%);
  background-size: 100%;
}
main .present figure .imgCont img {
  width: 90%;
}
main .present figcaption {
  padding-left: 50px;
  position: relative;
  padding-right: 50px;
  transform: translateY(-150px);
}
main .present figcaption h2 {
  font-size: 50px;
}
main .present figcaption p {
  font-size: 35px;
}
main .present figcaption .rating {
  margin-bottom: 10px;
}
main .present figcaption .rating svg {
  margin-right: -6px;
  margin-left: -3px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
main .present figcaption .rating .star {
  transition: 0.5s;
}
main .present figcaption #shortReview {
  font-size: 30px;
}
main .present figcaption a {
  margin-top: 15px;
  position: relative;
  height: 35px;
  width: 250px;
  padding: 5px;
  font-size: 30px;
  box-shadow: 0px 0px 8px #20cdb9, inset 0px 0px 8px #20cdb9;
  border: 2px solid #20cdb9;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #20cdb9;
  transition: color 0.2s, background-color 0.2s;
}
main .present figcaption a:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.6);
}
main p {
  font-size: 30px;
  color: #C1C1C1;
}
main .reviewBlock {
  padding-left: 50px;
  padding-right: 50px;
}
main .reviewBlock h2 {
  font-size: 40px;
}
main .commentSec {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
main .commentSec h2 {
  flex: 0 1 100%;
}
main .commentSec input {
  min-height: 25px;
  flex: 0 1 100%;
  margin: 15px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0px 0px 8px #20cdb9, inset 0px 0px 8px #20cdb9;
  border: 2px solid #20cdb9;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #20cdb9;
  transition: color 0.2s, background-color 0.2s;
  text-align: left;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #1A181D;
}
main .commentSec input:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.6);
}
main .commentSec #comBt {
  cursor: pointer;
  padding: 5px;
  font-family: "rubik mono";
  background-color: #1A181D;
  box-shadow: 0px 0px 8px #20cdb9, inset 0px 0px 8px #20cdb9;
  border: 2px solid #20cdb9;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #20cdb9;
  transition: color 0.2s, background-color 0.2s;
  flex: 0 0 120px;
}
main .commentSec #comBt:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.6);
}
main .commentSec #commentCont {
  width: 90%;
  flex: 0 0 100%;
}
main .commentSec #commentCont .comment {
  align-items: flex-start;
  padding: 10px;
  display: flex;
}
main .commentSec #commentCont .comment p {
  width: 90%;
  word-wrap: break-word;
}
@media (max-width: 800px) {
  main .commentSec #commentCont .comment p {
    font-size: 15px;
  }
}
main .commentSec #commentCont .comment img {
  width: 35px;
  margin-right: 15px;
}
main .thriller {
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
}
main .thriller #thrillerVid {
  border: 3px solid #20cdb9;
  box-shadow: 0px 0px 8px #20cdb9, inset 0px 0px 8px #20cdb9;
  width: 60%;
  aspect-ratio: 569/315;
}
@media (min-width: 450px) and (max-width: 800px) {
  main .present {
    margin-bottom: -50px;
  }
  main .present figcaption {
    padding-left: 25px;
    transform: translateY(-100px);
  }
  main .present figcaption h2 {
    font-size: 40px;
  }
  main .present figcaption p {
    font-size: 30px;
  }
  main .present figcaption #shortReview {
    font-size: 25px;
  }
  main .reviewBlock {
    padding-left: 25px;
    padding-right: 25px;
  }
  main .reviewBlock h2 {
    font-size: 30px;
  }
  main .reviewBlock p {
    font-size: 20px;
    color: #C1C1C1;
  }
  main .thriller #thrillerVid {
    width: 80%;
  }
}
@media (max-width: 450px) {
  main .present {
    margin-bottom: 0px;
  }
  main .present figcaption {
    padding-left: 15px;
    transform: translateY(-50px);
  }
  main .present figcaption h2 {
    font-size: 35px;
  }
  main .present figcaption p {
    font-size: 25px;
  }
  main .present figcaption #shortReview {
    font-size: 20px;
  }
  main .reviewBlock {
    padding-left: 15px;
    padding-right: 15px;
  }
  main .reviewBlock h2 {
    font-size: 25px;
  }
  main .reviewBlock p {
    font-size: 15px;
    color: #C1C1C1;
  }
  main .thriller #thrillerVid {
    width: 90%;
  }
}

#error404, #loadingError {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "molot";
  z-index: 404;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0E0E0E;
}