.place {
  aspect-ratio: 1;
  min-width: 10px;
  width: 4.5%;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  border-radius: 30% 30% 0px 0px;
  cursor: pointer;
  transition: 0.2s;
  margin: 3px;
}
.place:hover {
  background-color: rgb(119, 119, 119);
}

.row {
  display: flex;
  justify-content: center;
}

.placeCont {
  min-width: 0px;
}
.placeCont .screen {
  margin: 10%;
  height: 0px;
  border: 2px solid white;
  margin-bottom: 40px;
  margin-top: 0;
}

main {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.placeChoose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  padding: 25px;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: "molot";
  color: white;
}
.placeChoose .placeCont {
  width: 50%;
  padding: 0;
}
.placeChoose h2 {
  text-align: center;
  flex: 0 0 100%;
  font-weight: 100;
  margin: 0;
}
.placeChoose h2 span {
  font-size: 15px;
  color: rgb(161, 161, 161);
}
.placeChoose p {
  margin: 5px;
  font-size: 20px;
  color: rgb(190, 190, 190);
}
@media (max-width: 430px) {
  .placeChoose {
    padding: 0px;
  }
  .placeChoose h2 {
    font-size: 17px;
  }
  .placeChoose h2 span {
    font-size: 14px;
  }
  .placeChoose p {
    font-size: 15px;
  }
}

form {
  color: white;
  font-size: 25px;
  font-family: "rubik mono";
}
form fieldset {
  width: 320px;
  border: 0;
  display: grid;
}
form fieldset label {
  display: grid;
  margin: 5px;
}
form fieldset label input {
  height: 25px;
  margin: 0;
  box-shadow: 0px 0px 8px #20cdb9, inset 0px 0px 8px #20cdb9;
  border: 2px solid #20cdb9;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #20cdb9;
  transition: color 0.2s, background-color 0.2s;
  text-align: left;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #1A181D;
}
form fieldset label input:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.6);
}
form #sub {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0px 0px 8px #20cdb9, inset 0px 0px 8px #20cdb9;
  border: 2px solid #20cdb9;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #20cdb9;
  transition: color 0.2s, background-color 0.2s;
  width: 120px;
  height: 30px;
  margin-left: 20px;
  font-family: "rubik mono";
}
form #sub:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.6);
}
@media (max-width: 430px) {
  form {
    font-size: 16px;
  }
  form fieldset {
    width: 250px;
  }
  form fieldset label input {
    height: 20px;
  }
}