*{
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1C1C1C;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: #303030;
}
::-webkit-scrollbar-thumb {
    background-color: #fb9d11b2;
    border-radius: 2px;
}
/*nav style*/
nav{
    top: 0;
    z-index: 100;
    position: fixed;
    transition: 0.5s;
    font-style: normal;
    display: flex;
    height: 70px;
    width: 100%;
}
.container{
    position: relative;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-shrink: 1;
}
nav>img{
    box-sizing: border-box;
    position: relative;
    height: 100%;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    background-color: #FB9D11;
}
nav p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    flex-shrink: 1;
    margin-right: 20px;
    font-weight: 900;
    background-color: #FB9D11;
    flex-basis: 180px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
    height: 100%;
}

a{   
    box-sizing: border-box;
    padding: 10px;
    border: 3px solid white;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metka{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
nav a{
    padding: 0 5px;
    height: 80%;
    flex-basis: 150px;
    flex-shrink: 0.2;
    margin-left: 15px;
    text-wrap: nowrap;
}
a:hover{
    background-color: white;
    color: #1C1C1C;
}
a:active{
    background-color: white;
    color: #FB9D11;
}
@media screen and (max-width: 767px) {
    nav{
        height: 50px;
    }
    nav p{
        font-size: 15px;
    }
}
@media screen and (max-width: 550px) {
    nav{
        height: 45px;
    }
    nav p{
        flex-basis: 100px;
        margin: 0px;
        margin-left: 5px;
        font-size: 13px;
    } 
    nav a{
        font-size: 15px;
        flex-basis: 120px;
        margin-left: 5px;
    }
}
@media screen and (max-width: 420px) {
    nav{
        height: 35px;
    }
    nav p{
        flex-basis: 100px;
        margin: 0px;
        font-size: 10px;
    } 
    nav a{
        height: 100%;
        font-size: 10px;
        flex-basis: 100%;
        flex-shrink: 1;
        flex-grow: 1;
        margin: 0px;
        border-radius: 0;
        border-width: 2px;
    }
}
/*first info block*/

#FirstBlock{
    margin-top: 60px;
    color: white;
    position: relative;
}

.orange{
    color: #FB9D11;
}

#picBlock{
    justify-self: flex-end;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#picBlock img{margin-right: 5%}
#picBlock img, .shadow{
    aspect-ratio: 1172/716;
    width: 85%;
}

.shadow{
    width: 90%;
    top: 0;
    position: absolute;
    background: radial-gradient(50.88% 47.54% at 50.00% 50.00%, rgba(0, 0, 0, 0.00) 70%, #1C1C1C 85%);
}

.infoFB h3{
    width: 80%;
}

.infoFB{
   
    margin-left: max(5%, 40px);
    text-shadow: 5px 2px 10px #000;
    position: absolute;
    top: 0;
}
.infNumb{
    z-index: 1;
    position: absolute;
    bottom: 0px;
    margin-left: max(5%, 40px);
}

@media screen and (max-width: 768px) {
    .infoFB h3{
        font-size: 20px;
    }
    .infoFB{
        font-size: 20px;
        margin-top: 30px;
    }
    
    .infNumb a{
        margin-top: 10px;
    }
    .infNumb p{
        margin-bottom: 20px;
        font-size: 20px;
    }
}
@media screen and (max-width: 500px){
    #FirstBlock{
        margin-top: 40px;
    }
    #picBlock img{opacity: 0.7;}
    .infoFB h3{
        width: 85%;
    }
    .infNumb a{
        position: relative;
        padding: 8px;
        font-size: 10px;
        margin-top: 10px;
    }
    .infNumb p{
        margin-bottom: 10px;
        font-size: 15px;
    }
}
@media screen and (max-width: 400px) {
    #FirstBlock{
        margin-top: 30px;
    }
    #picBlock img{opacity: 0.5;}
    .infoFB h3{
        font-size: 15px;
    }
    .infoFB{
        font-size: 10px;
    }
    .infNumb p{
        font-size: 10px;
    }
}
@media screen and (min-width: 768px) {
    .infoFB h3{
        font-size: 25px;
    }
    .infoFB {
        font-size: 20px;
        margin-top: 90px;
    }

    .infNumb p{
        font-size: 25px;
        margin-bottom: 30px;
    }
}

/*service block*/

#service{
    padding: 10px;
    font-size: 20px;
    color: white;
    display: flex;
    background-color: #FB9D11;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    text-align: center;
}

#service figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#service img{
    width: 80%;
}
@media screen and (max-width: 768px) {
    #service{
        margin-top: 30px;
    }
}

@media screen and (max-width: 320px) {
    #service{
        font-size: 12px;
        margin-top: 20px;
    }
}
/*gallery*/
.slide{
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

#arrowR, #arrowL{
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 25px;
    z-index: 20;
    background-color: #FB9D11;
    transition: 0.3s;
    cursor: pointer;
}
#arrowR img, #arrowL img{
    width: 100%;
}
#arrowR img{
    transform: rotate(180deg);
}

#arrowR:hover, #arrowL:hover{
    opacity: 0.85;
}

#gallery{
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#galleryWindow{
    position: relative;
    border: 3px solid #FB9D11;
    width: 75%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}


.slide img, .slide{
    width: 100%;
}
@media screen and (max-width: 768px) {
    #gallery{
        margin-top: 30px;
    }
    #galleryWindow{
        width: 80%;
    }
    #arrowR, #arrowL{
        width: 20px;
    }
}
@media screen and (max-width: 320px) {
    #gallery{
        margin-top: 20px;
    }
    #galleryWindow{
        width: 100%;
    }
    #arrowR, #arrowL{
        width: 12px;
    }
}

/*price card*/
#servicePrice{
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardPrice h3, .cardPrice p{
    color: #FB9D11;
    position: relative;
    text-align: center;
}
.price{
    font-size: 45px;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}
.cardPrice{
    padding-top: 1%;
    display: grid;
    grid-template-columns: 73%;
    grid-template-rows: 16% 4% 50% 30%;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    border: solid white 2px;
    width: 200px;
    aspect-ratio: 2/3;
}
.cardPrice a{
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
@media screen and (max-width: 860px) {
    #servicePrice{
        margin-top: 0px;
    }
    .cardPrice{
        margin-top: 15px;
        width: 150px;
    }
    .price{
        font-size: 40px;
    }
}


@media screen and (max-width: 340px) {
    #servicePrice{
        margin-top: 0px;
        padding: 15px;
    }
    .cardPrice{
        margin-top: 15px;
        width: 120px;
        font-size: 10px;
    }
    .cardPrice a{
        padding: 7px;
    }
    .price{
        font-size: 25px;
    }
}
/*footer*/

footer{
    font-size: 10px;
    padding: 8px;
    background-color: #FB9D11;
    box-sizing: border-box;
    width: 100%;
    margin-top: 50px;
    display: flex;
}

.aboutUs{
    flex: 1 0 35%;
}

.contacts{
    flex: 1 0 65%;
}

footer a{
    margin-top: 2px;
    display: inline-block;
    border: 0px;
}
footer a:hover{
    background-color: rgba(0, 0, 0, 0);
}
footer img{
    margin: -5px;
    width: 30px;
}

@media screen and (max-width: 768px) {
    footer{
        font-size: 8px;
        margin-top: 30px;
    }
    footer img{
        width: 20px;
    }
}
@media screen and (max-width: 426px) {
    footer{
        margin-top: 20px;
    }
}
