@mixin neon{
    box-shadow: 0px 0px 8px $maincolor,
    inset 0px 0px 8px $maincolor;
}
@mixin button{
    @include neon;
    border: 2px solid $maincolor;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $maincolor;
    transition: color 0.2s, background-color 0.2s;
    &:hover{
        color: white;
        background-color: rgba(32, 205, 185, 0.6);
    }
}