@import "_vars.scss";
@import "_mixin.scss";

main{
    img{
        @include neon;
        border: 2px solid $maincolor;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    padding: 60px;
    color: white;
    font-weight: 100;
    font-family: 'Molot';
    p{
        margin: 20px;
        font-size: 30px;
    }
    .intro{
        h2{
            font-size: 40px;
            margin: 20px;
            margin-top: 0px;
        }
    }
    .bar, .cassa{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 40% 60%;
        p{
            text-indent: 15px;
        }
    }
    .cassa{
        margin: 10px;
    }
    @media (min-width: 600px) and (max-width: 800px) {
        .cassa, .bar{
            grid-template-columns: 50% 50%;
        }
        p{
            font-size: 25px;
        }
        padding: 20px;
        .intro{
            h2{
                margin: 0;
                font-size: 35px;
            }
        }
    }
    @media (max-width: 600px) {
        .intro{
            h2{
                margin: 0;
                font-size: 30px;
            }
            img{
                margin: 0;
            }
        }
        .cassa, .bar{
            margin-top: 10px;
            grid-template-columns: 100%;
        }
        p{
            margin: 0;
            font-size: 20px;
        }
        padding: 20px;
    }
}