@import "_vars.scss";
@import "_mixin.scss";


.head{
    font-family: 'molot';
    margin-right: 40px;
    display: flex;
    margin-left: 10%;
    align-items: center;
    height: 50px;
    h2{
        flex: 0 0 10%;
        color: $maincolor;
    }
    p{
        margin-right: 10%;
        word-spacing:-4px;
        font-size: 14px;
        display: grid;
        grid-template-columns: 120px 20px;
        justify-content: end;
        flex: 1 1;
        color: white;
        .active{
            &::after{
                content: '';
                left: 0px;
            }
        }
        span{
            cursor: pointer;
            position: relative;
            overflow: hidden;
            &::after{
                content: '';
                transition: 1s;
                position: absolute;
                background-color: white;
                height: 2px;
                width: 90%;
                left: -200px;
                top: 14px;
                box-sizing: border-box;
                border-radius: 2px;
                border: 1px solid white;
            }
        }
        #soon{
            width: 50px;
        }
    }
    @media (max-width: 500px) {
        margin-left: 5%;
        margin-right: 5%;
        h2{
            margin-right: 20px;
        }
    }
    @media (max-width: 380px) {
        height: 70px;
        p{
            margin-top: 40px;
            margin-right: 0;
            grid-template-columns: 150px;
            grid-template-rows: repeat(2, 30px);
        }
    }
}
main{
    margin: 30px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    .afishaBlock{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1165px;
        .poster{
            margin: 20px;
            position: relative;
            aspect-ratio: 2/3;
            @include neon;
            box-sizing: border-box;
            overflow: hidden;
            box-shadow: 0px 0px 8px $maincolor;
            border: 4px solid $maincolor;
            width: 250px;
            img{
                height: 100%;
            }
            .infoP{
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 15px;
                opacity: 0;
                position: absolute;
                background-color: #20cdb9a2;
                transition: 0.5s;
                display: grid;
                align-items: end;
                grid-template-rows: 190px 70px;
                font-size: 15px;
                font-family: 'molot';
                p{
                    padding: 5px;
                    text-align: begin;
                    .janr{
                        color: rgb(105, 104, 104);
                        display: block;
                        text-shadow: 0 0 4px rgb(180, 180, 180);
                        margin-bottom: 5px;
                    }
                    .name{
                        width: 100%;
                        color: white;
                        display: block;
                        font-size: 1.5em;
                        text-align: left;
                        text-shadow: 0 0 4px rgb(0, 0, 0);
                    }
                }
                a{
                    @include neon;
                    font-size: 15px;
                    height: 35px;
                    width: 90%;
                    padding: 5px;
                    border: 2px solid $maincolor;
                    border-radius: 10px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $maincolor;
                    transition: color 0.2s, background-color 0.2s;
                    background-color: rgba(0, 0, 0, 0.422);
                    &:hover{
                        color: white;
                        background-color: rgba(32, 205, 185, 0.808);
                        border-color: rgb(175, 231, 225);
                    }
                }
                @media (max-width: 375px) {
                    grid-template-rows: 160px 60px;
                    font-size: 12px;
                    padding: 11px;
                }
            }
            &:hover{
                .infoP{
                    opacity: 1;
                }
            }
            @media (max-width: 375px) {
                flex: 0 0 160px;
            }
        }
        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            width: 690px;
            .poster{
                width: 190px;
            }
        }
        @media (max-width: 770px) {
            grid-template-columns: repeat(2, 1fr);
            width: 460px;
        }
        @media (max-width: 480px) {
            width: 230px;
            grid-template-columns: repeat(1, 1fr);
            
        }
    }
    @media (max-width: 480px) {
        margin: 0px;
    }
}

