@import "_vars.scss";
@import "_mixin.scss";

.main_contaner{
    overflow: hidden;
}
main{
    background-color: #0E0E0E;
    width: 100%;
    color: white;
    .present{
        figure{ 
            .imgCont{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                .shadow{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 59.38%, #0E0E0E 90%, #0E0E0E 100%);
                    background-size: 100%;
                }
                img{
                    width: 90%;
                }
            }
        }
        figcaption{
            padding-left: 50px;
            position: relative;
            padding-right: 50px;
            transform: translateY(-150px);
            h2{
                font-size: 50px;
            }
            p{font-size: 35px; }
            .rating{
                svg{
                    margin-right: -6px;
                    margin-left: -3px;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                }
                .star{transition:0.5s; }
                margin-bottom: 10px;
            }
            #shortReview{ font-size: 30px; } 
            a{
            margin-top: 15px;
            position: relative;
            height: 35px;
            width: 250px;
            padding: 5px; 
            font-size: 30px;
            @include button;
            }
        }
        margin-bottom: -100px;
    }
    p{
        font-size: 30px;
        color: #C1C1C1;
    }
    .reviewBlock{
        padding-left: 50px;
        padding-right: 50px;
        h2{
            font-size: 40px;
        }
    }
    .commentSec{
        margin: 20px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        h2{
            flex: 0 1 100%;
        }
        input{
            min-height: 25px;
            flex: 0 1 100%;
            margin: 15px;
            margin-left: 0;
            margin-right: 0;
            @include button;
            text-align:left;
            padding-left: 10px;
            border-radius: 5px;
            background-color: $bgcolor;
        }
        #comBt{
            cursor: pointer;
            padding: 5px;
            font-family: 'rubik mono';
            background-color: $bgcolor;
            @include button;
            flex: 0 0 120px;
        }
        #commentCont{
            width: 90%;
            flex: 0 0 100%;
            .comment{
                align-items: flex-start;
                padding: 10px;
                display: flex;
                p{width: 90%; 
                word-wrap:break-word;}
                @media  (max-width: 800px) {
                    p{font-size: 15px;} 
                }
                img{
                    width: 35px;
                    margin-right: 15px;
                }
            }
        }
        
    }
    .thriller{
        display: flex;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: center;
        #thrillerVid{
            border: 3px solid $maincolor;
            @include neon;
            width: 60%;
            aspect-ratio: 569/315;
        }
    }
    @media (min-width: 450px) and (max-width: 800px) {
        .present{
            figcaption{
                padding-left: 25px;
                transform: translateY(-100px);
                h2{
                    font-size: 40px;
                }
                p{
                    font-size: 30px;
                }
                #shortReview{
                    font-size: 25px;
                }
            }
            margin-bottom: -50px;
        }
        .reviewBlock{
            padding-left: 25px;
            padding-right: 25px;
            h2{
                font-size: 30px;
            }
            p{
                font-size: 20px;
                color: #C1C1C1;
            }
        }
        .thriller{
             #thrillerVid{
                 width: 80%;
            }
        }
    }
    @media  (max-width: 450px) {
        .present{
            figcaption{
                padding-left: 15px;
                transform: translateY(-50px);
                h2{
                    font-size:35px;
                }
                p{
                    font-size: 25px;
                }
                #shortReview{
                    font-size: 20px;
                }
            }
            margin-bottom: 0px;
        }
        .reviewBlock{
            padding-left: 15px;
            padding-right: 15px;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
                color: #C1C1C1;
            }
        }
        .thriller{
             #thrillerVid{
                 width: 90%;
            }
        }
    }
}

#error404, #loadingError{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'molot';
    z-index: 404;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0E0E0E;
}