@import "_loading.scss";
@font-face {font-family: 'Molot'; src: url(../fonts/Molot.otf);}
@font-face {font-family: 'Robo'; src: url(../fonts/robo.ttf);}
@font-face {font-family: 'rubik mono'; src: url(../fonts/RubikMonoOne-Regular.ttf);}