@import "_vars.scss";
@import "_mixin.scss";
@import "_popular.scss";
@import "_afishaM.scss";

.arrA{
    background-color: rgba(0, 0, 0, 0.758);
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 60px;
    @include neon;
    border: 3px solid $maincolor;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    .img{
        width: 100%;
        height: 100%;
        background-image: url(../images/arrow.svg);
        background-size: 120%;
        background-repeat:no-repeat;
        background-position: -3px 7px;
    }
    z-index: 3;
    transition: background-color 0.5s;
    &:hover{
        background-color: rgba(4, 41, 46, 0.758);
    }
    &:active{
        width: 38px;
        height: 58px;
    }
}