@import "_vars.scss";
@import "_mixin.scss";
@import "_navM.scss";
@import "_footer.scss";
*{
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-family: 'Molot';
}

p{
    font-family: 'molot';
    font-size: 20px;
    @media (max-width: 700px) {
        font-size: 15px;
    }
}
body{
    position: relative;
    background-color: $bgcolor;
    background-image: url(../images/dotsup.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}
::-webkit-scrollbar {
    width: 10px; /* ширина полосы прокрутки */
}
  
::-webkit-scrollbar-track {
   background: $bgcolor; /* цвет фона трека */
}
  
::-webkit-scrollbar-thumb {
    background: $maincolor; /* цвет полосы прокрутки */
    border-radius: 5px; /* скругление углов полосы прокрутки */
}



#wrap{
    position: relative;
    display: block;
    box-sizing: border-box;
   // background-color: red;
    width: 100%;
    height: auto;
    min-height: 98vh;
    padding-bottom: 10px;
}

#dotsdown{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -10px;
    transition: 0.2s;
    img{
        margin-bottom: -10px;
        width: 100%;
    }
    @media (min-width: 1900px) {
        opacity: 0;
    }
}

a{
    font-family: 'rubik mono';
    text-decoration: none;
}
.main_contaner{
    z-index: 1;
    @include neon;
    position: relative;
    left: 0;
    min-height: 96vh;
    background: rgba(0, 0, 0, 0.521);
    border: 4px solid $maincolor;
    border-radius: 10px;
    margin: 12px;
    width: calc(100% - 34px);
    margin-top: 10px;
}



